@page
@model MascFelizWeb.App.Frontend.Pages.ListModel
@{
}
<h1>Mascotas </h1>  
<table class="table">
    <thead> 
        <th>
            Nombre Mascota
        </th>
        <th>
            Peso
        </th>
        <th>
            Frecuencia Cardiaca 
        </th>
    </thead>
    <tbody>

    @foreach (var mascotas in Model.Mascotas)
    {
        <tr>

            <td>
                @mascotas.Nombre

            </td>

            <td>
                @mascotas.Peso
            </td>

            <td>
                @mascotas.Frec_Cardiaca
            </td>

        </tr>
    }  

    </tbody>